body {
  font-family: sans-serif;
  margin: 0 20%;
  background-color: lightslategrey;
  color: white;
}

h1 {
  text-align: center;
}

#person-container {
  text-align: justify;
  margin-top: 50px;
  height: 150px;
}

button {
  width: 150px;
  height: 40px;
}

.person-fact {
  width: 700px;
}

.form-group {
  padding: 0 20% 1% 30%;
}

.slide {
  width: 40px;
  height: 40px;
  background-color: lightslategrey;
  border: 1px solid black;
  display: inline-block;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
