body {
  font-family: sans-serif;
  font-size: 1.5em;
  margin: 0 20%;
  background-color: slategrey;
  color: white;
}

h1 {
  text-align: center;
}

#person-container {
  text-align: justify;
  margin-top: 50px;
  height: 150px;
}

button {
  width: 150px;
  height: 40px;
}

.person-fact {
  width: 700px;
}

.form-group {
  padding: 0 10% 1% 20%;
}

.slide {
  width: 35px;
  height: 35px;
  background-color: lightgrey;
  border: 1px solid black;
  display: inline-block;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
