body {
  font-family: sans-serif;
}

button {
  width: 100px;
  height: 40px;
  margin: 25px;
}

.person-fact {
  width: 700px;
}


.slide {
  width: 35px;
  height: 35px;
  background-color: slategrey;
  border: 1px solid black;
  display: inline-block;
}
